[[define "app"]]
<!DOCTYPE html>
<html>
    <head>
        <title>[[block "title" .]]GoMeter[[end]]</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/public/favicon.ico" type="image/x-icon"/>
        <link href="/public/css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="app">
            [[template "content"]]
        </div>
        <script src="/public/js/app.js"></script>
    </body>
</html>
[[end]]